* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer{
    height: 70vh;
    width: 50vw;
    border-radius: 10px;
    border: orange solid 2px;
    position: absolute;
    bottom: 0px;
}