* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer{
    height: 70vh;
    width: 50vw;
    border-radius: 10px;
    border: orange solid 5px;
    position: absolute;
    bottom: 0px;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;

    button{
       cursor: pointer;
       border-radius: 10px;
       height: 10vh;
       width: 10vh;
       border: orange solid 2px;
       background-color: black;
       transition: 0,2s ease-in-out;

       &:hover{
        transform: scale(1.1);
       }
    }
}

@media (max-width: 600px) {
    .buttonContainer{
        width: 90vw;
        gap: 10px;


    }
}


@media (max-width: 400px) {
    .buttonContainer{
        width: 90vw;
        gap: 2px;

button{
width: 18vw;
height: 18vw;
}
}
}